* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;

  img {
    width: 200px;
    height: 80px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .btn {
    background-color: rgba(5, 100, 5, 0.601);
    border: none;
  }
}