* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .btn {
    background-color: rgba(4, 76, 4, 0.427);
    border: none;
  }
}