* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;

  img {
    width: 200px;
    height: 80px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .btn {
    background-color: rgba(5, 100, 5, 0.601);
    border: none;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  background-color: rgb(243, 250, 248);
  height: 100vh;

  .left {

    h1 {
      font-size: 80px;
      color: rgb(79, 78, 78);
    } 
    
    p {
      font-size: 30px;
      padding: 20px 0;
      color: rgb(60, 60, 60);
    }

    .get-started-btn{
      background-color: green;
      color: white;
      margin-left: 15px;
      padding: 8px 15px;
      font-size: 20px;
      border: 1px solid green;
    }

    .login-btn {
      background-color: transparent;
      margin-left: 15px;
      padding: 8px 15px;
      font-size: 20px;
      border: 1px solid gray;
    }
  }
}

/* Styles for Platform Component */

.platform-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;

  > div {
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
  }

    img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  p {
    font-size: 1em;
    color: #555;
  }
}


